.App {
  display: flex;
  flex-direction: column;
}

html, body, #root, .App {
  height: 100%;
}

.navbar {
  z-index: 2;
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 -2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end; /* Align tabs to the bottom */
}

.navbar ul li {
  display: inline-block;
  margin-left: 10px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 30px 10px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar ul li:nth-child(1) a {
  --tab-color: #ff6347; /* Tomato */
  background-color: var(--tab-color);
}

.navbar ul li:nth-child(2) a {
  --tab-color: #1e90ff; /* DodgerBlue */
  background-color: var(--tab-color);
}

.navbar ul li:nth-child(3) a {
  --tab-color: #32cd32; /* LimeGreen */
  background-color: var(--tab-color);
}

.navbar ul li:nth-child(4) a {
  --tab-color: #ff69b4; /* HotPink */
  background-color: var(--tab-color);
}

.navbar ul li a:hover, .navbar ul li a.active {
  padding-bottom: 15px; /* Change padding on hover */
  border-radius: 5px 5px 5px 5px;
}

.content {
  flex: 1;
  padding: 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
